.bodyText {  font-family: 宋体, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal}
.titleText {  font-family: 宋体, Verdana, Arial, Helvetica, sans-serif; font-size: 10.5pt; font-weight: bold}
.labelTitles {  font-family: 宋体, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold}
.itemText {  font-family: 宋体, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; line-height: 15pt}
.buttonText {  font-family: 宋体, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; clip:    rect(   )}
.sideBtn {  font-family: 宋体, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 9pt}
.titleDesc {  font-family: 宋体, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; clip:   rect(   );}
.wizlink {color:blue}

.dropdownCombo {  font-family: 宋体, Verdana; font-size: 9pt; font-weight: normal}

.buttonClass	{	
					font-family: 宋体, Verdana, Arial, Helvetica, sans-serif;
					font-size: 9pt;
					clip:rect(   );
					height:20px; 
					width:80px; 
					background-color:silver; 
					cursor:hand
				}

.buttonMouseOver{
					font-family: 宋体, Verdana, Arial, Helvetica, sans-serif;
					font-size: 9pt;
					clip:rect(   );
					height:20px; 
					width:80px; 
					background-color:'#9999FF'; 
					cursor:hand
				}

.buttonBrowse	{	
					font-family: 宋体, Verdana, Arial, Helvetica, sans-serif;
					font-size: 9pt;
					clip:rect(   );
					height:20px; 
					width:20px; 
					background-color:silver; 
					cursor:hand
				}

.buttonBrowseMouseOver{
					font-family: 宋体, Verdana, Arial, Helvetica, sans-serif;
					font-size: 9pt;
					clip:rect(   );
					height:20px; 
					width:20px; 
					background-color:'#9999FF'; 
					cursor:hand
				}
